%section.home-splash
  .container
    %header.text-center
      %h1.jumbo-heading
        Complete DevOps
      %h2.page-subtitle
        Create value faster with a single application for the whole software development and operations lifecycle.

      %a.btn.cta-btn.accent{href: "/products/"}
        Try GitLab for Free

    .home-lifecycle-diagram
      - data.lifecycle_diagram.each do |phase|
        %article{class: "lifecycle-diagram-phase #{phase.name.downcase}", "data-title" => phase.name}
          .row
            .col-sm-12.col-md-4
              %h3.sub-heading
                = partial "images/home/#{phase.name.downcase}.svg"
                #{phase.name}: #{phase.title}
              .description #{phase.description}
              .btn-group
                %a.btn.cta-btn.ghost{href: phase.cta_url}
                  Learn More
            .col-sm-12.col-md-7.col-md-offset-1.image-column.hidden-xs
              = image_tag "/images/home/#{phase.image_name}.jpg", alt: phase.image_alt, srcset: "/images/home/#{phase.image_name}_2x.jpg 2x"
